@media (max-width:1300px) {

    /* header */
    header {
        padding-inline: 57px;
    }

    /* section1 */
    .section1_img {
        width: min(100%, 1300px);        
    }

    .section1_p{
        width: 1186px;
    }

}

@media (max-width: 834px) {

    /* header */
    header {
        padding-inline: 46px;
    }

    /* section1 */
    .section1_img {
        width: min(100%, 834px);
        height: 438px;
    }

    .section1_p{
        width: 742px;
    }
    
}